.btn{
    background-color: rgb(0, 89, 255);
    border-radius: 8px;
    padding: 10px 12px ;
    color: rgb(250, 246, 253);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(34, 34, 15);
    color: chartreuse;
}