.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(168, 102, 14);
    color: rgb(221, 233, 233);
padding: 16px;
height:400px;
width: 200px;

}
.image{
    width: 150px;
    height: 150px;
}